{% extends 'TodasAsPatasWebBundle:Backend:template.html.twig' %}

{% from 'TodasAsPatasWebBundle:Backend/Macro:pagination.html.twig' import pagination %}

{% block page_title -%}Listar Client{% endblock %}

{% block page_pad_attr %}class="datatables-page"{% endblock %}

{% block page -%}
    {{ pagination(clients) }}
    <div class="row">
        <div class="col-md-12">
            <ul class="list-unstyled list-inline">
                <li>
                    <a href="{{ path('app_client_create') }}" class="btn btn-primary">
                        Criar novo registro
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-md-12">
            <table class="table table-bordered table-hover table-responsive table-striped">
                <thead>
                    <tr>
                        <th>{{ sylius_resource_sort('id', '#id') }}</th>
                        <th>{{ sylius_resource_sort('name', 'Nome') }}</th>
                        <th>{{ sylius_resource_sort('secret', 'Secret') }}</th>
                        <th>Public ID</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for entity in clients %}
                        <tr>
                            <td><a href="{{ path('app_client_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                            <td>{{ entity.name }}</td>
                            <td>{{ entity.name }}</td>
                            <td>{{ entity.secret }}</td>
                            <td>{{ entity.publicId }}</td>
                            <td>
                                <div class="btn-group btn-group-xs">
                                    <a class="btn btn-primary" href="{{ path('app_client_show', { 'id': entity.id }) }}">Visualizar</a>
                                    <a class="btn btn-primary" href="{{ path('app_client_update', { 'id': entity.id }) }}">Editar</a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    {% if clients.count == 0 %}
                        <tr>
                            <td colspan="9">
                                Nenhum client cadastrado
                            </td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
    {{ pagination(clients) }}
{% endblock %}