{% extends 'TodasAsPatasWebBundle:Backend:template.html.twig' %}


{% block page_title %} Pet {{ pet.name }} {% endblock %}

{% block page -%}

    <div class="row">
        <div class="col-xs-12">
            <table class="record_properties table table-bordered table-hover table-responsive table-striped">
                <tbody>
                    <tr>
                        <td colspan="2">
                            <h4>
                                Informações sobre o Pet
                            </h4>
                        </td>
                    </tr>
                    <tr>
                        <th>Id</th>
                        <td>
                            {{ pet.id }}
                            {% if pet.adopted %}
                                <h4 class="pull-right">
                                    <span class="badge badge-primary">Adotado</span>
                                </h4>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>Nome</th>
                        <td>{{ pet.name }}</td>
                    </tr>
                    <tr>
                        <th>Tipo</th>
                        <td>{{ pet.type }}</td>
                    </tr>
                    <tr>
                        <th>Criado em</th>
                        <td>{{ pet.createdAt|date('d/m/Y H:i:s') }}</td>
                    </tr>
                    <tr>
                        <th>Atualizado em</th>
                        <td>{{ pet.updatedAt|date('d/m/Y H:i:s') }}</td>
                    </tr>
                    <tr>
                        <th>Quantidade de visualizações</th>
                        <td>{{ pet.displayQuantity }}</td>
                    </tr>
                    <tr>
                        <th>Tamanho</th>
                        <td>{{ pet.size }}</td>
                    </tr>
                    <tr>
                        <th>Idade</th>
                        <td>{{ pet.age }}</td>
                    </tr>
                    <tr>
                        <th>Gênero</th>
                        <td>{{ pet.gender }}</td>
                    </tr>
                    <tr>
                        <th>Raça(s)</th>
                        <td>
                            {% for breed in pet.breeds %}
                                <span class="label label-info">{{ breed.name }}</span>
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <th>Imagem de perfil</th>
                        <td>
                            <img src="{{ pet.profileImageKey | imagine_filter('default_thumb') }}">
                        </td>
                    </tr>
                    {% if pet.adopted %}
                        <tr>
                            <td colspan="2">
                                <h4>
                                    Informações de adoção
                                </h4>
                            </td>
                        </tr>
                        <tr>
                            <th>Tipo de adoção</th>
                            <td>{{ pet.adoption.type }}</td>
                        </tr>
                        {% if pet.adoption.user %}
                            <tr>
                                <th>Usuaŕio que adotou</th>
                                <td>{{ pet.adoption.user }}</td>
                            </tr>
                        {% endif %}
                    {% endif  %}
                </tbody>
            </table>
            {% if pet.images.count > 0 %}
                <h3>Album de fotos</h3>
                <div class="row">
                    {% for petimage in pet.images %}
                        <div class="col-xs-6 col-md-3">
                            <a href="#" class="thumbnail">
                                <img src="{{ petimage.imageKey|imagine_filter('default_thumb') }}" alt="{{ petimage.imageKey }}">
                            </a>
                        </div>
                    {% endfor %}
                </div>
            {% endif  %}
            <ul class="record_actions list-inline list-unstyled">
                <li>
                    <a class="btn btn-link" href="{{ path('app_pet_index') }}">
                        Voltar para a lista
                    </a>
                </li>
                <li>
                    <a class="btn btn-primary" href="{{ path('app_pet_update', { 'id': pet.id }) }}">
                        Editar
                    </a>
                </li>
                <li>
                    {% if pet.adoption is null %}
                        <a class="btn btn-warning" href="{{ path('app_petadoption_create', { 'petId': pet.id }) }}">
                            Adotar
                        </a>
                    {% else %}
                        <form method="post" action="{{ path('app_petadoption_delete', { 'id': pet.adoption.id, 'petId' : pet.id }) }}">
                            <input type="submit" class="btn btn-warning" value="Estornar adoção" />
                            <input type="hidden" name="_method" value="DELETE" />
                        </form>
                    {% endif %}
                </li>
                <li>
                    <form id="pet-delete" method="post" action="{{ path('app_pet_delete', { 'id': pet.id }) }}">
                        <input form="pet-delete" type="submit" class="btn btn-danger" value="Deletar" />
                        <input type="hidden" name="_method" value="DELETE" />
                    </form>
                </li>
            </ul>
        </div>
    </div>

{% endblock %}
