{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}

    {% trans_default_domain 'FOSUserBundle' %}


    <div class="login-wrapper" style="top: 30px; color: #000; margin-bottom: 50px !important;" >
        <div class="logo" >
            <span class="fa fa-paw fa-3x"></span>
            <span class="fa-3x" style='font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;'> Todas as Patas</span>
        </div>
        <div class="box"  style="background-color: #fff;">
            <div class="content-wrap">
                <h6>Login</h6>
                {% if error %}
                    <div>O usuário ou a senha inseridos estão incorretos. </div>
                {% endif %}
                {% block messages %}
                    {% for type, messages in app.session.flashbag.all() %}
                        {% for key, message in messages %}
                            <div class="flash-{{ type }}">
                                {{ message|trans({}, 'FOSUserBundle') }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                {% endblock %}
                <form action="{{ path("fos_user_security_check") }}" method="post">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                    <input autofocus="on" autocomplete="off" type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" required="required" placeholder="{{ 'security.login.username'|trans }}" />
                    <input class="form-control" placeholder="{{ 'security.login.password'|trans }}" type="password" id="password" name="_password" required="required" />
{#                    <a href="#app_useradmin_resetting_request" class="forgot">Esqueceu a senha?</a>#}
                    <div class="remember">
                        <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                        <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
                    </div>
                    <div class="text-left">
                        <input class="btn btn-info login" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
                    <a href="{{ path('app_usercommon_profile_create') }}" type="button" class="btn btn-link">Cadastrar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock fos_user_content %}
