{% extends 'TodasAsPatasWebBundle:Backend:template.html.twig' %}


{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{asset("bundles/todasaspatasweb/backend/css/compiled/form-wizard.css")}}" type="text/css" media="screen" />
{% endblock %}

{% block page_title -%}Editar Organização {{ organization.name }}{% endblock %}

{% block page_pad_attr %}class="form-page"{% endblock %}

{% block page -%}

    <div class="row">
        <div class="col-md-8">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <div class="form-group">
                <div class="col-sm-9 col-sm-offset-3">
                    <ul class="record_actions list-inline list-unstyled">
                        <li>
                            <button type="submit" class="btn btn-primary">Atualizar</button>
                        </li>
                        <li>
                            <a class="btn btn-link" href="{{ path('app_organization_index') }}">
                                Voltar para a lista
                            </a>
                        </li>
                        <li>
                            <input form="organization-delete" type="submit" class="btn btn-danger" value="Deletar" />
                        </li>
                    </ul>
                </div>
            </div>
            {{ form_end(form) }}
            <form id="organization-delete" method="post" action="{{ path('app_organization_delete', { 'id': organization.id }) }}">
                <input type="hidden" name="_method" value="DELETE" />
            </form>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{asset("bundles/todasaspatasweb/backend/js/wysihtml5-0.3.0.js")}}"></script>
    {{ parent() }}
    <script src="{{asset("bundles/todasaspatasweb/backend/js/jquery.uniform.min.js")}}"></script>
    <script src="{{asset("bundles/mopabootstrap/js/mopabootstrap-collection.js")}}"></script>

    <script type="text/javascript">
        $(function() {
            $("input:checkbox, input:radio").uniform();
        });
    </script>
{% endblock %}

