{% extends 'knp_menu.html.twig' %}

{% block root %}
    {% import 'knp_menu.html.twig' as macros %}

    {% set listAttributes = item.childrenAttributes %}
    {% if item.hasChildren and options.depth is not sameas(0) and item.displayChildren %}
        <ul id="dashboard-menu"{{ macros.attributes(listAttributes) }}>
            {{ block('children') }}
        </ul>
    {% endif %}
{% endblock %}


{% block list %}
    {% import 'knp_menu.html.twig' as macros %}

    {% if item.hasChildren and options.depth is not sameas(0) and item.displayChildren %}
        <ul class="submenu" >
            {{ block('children') }}
        </ul>
    {% endif %}
{% endblock %}

{% block spanElement %}
    {% import 'knp_menu.html.twig' as macros %}

    <a href="javascript:;" class="dropdown-toggle"{{ macros.attributes(item.labelAttributes) }}>{{ block('label') }}</a>
{% endblock %}

{% block label %}
    {% import 'knp_menu.html.twig' as macros %}
    {% if item.getExtra('icon', false) %}
        <i class="{{item.getExtra('icon', "icon-home")}}"></i>
    {% endif %}
    <span>
        {% if options.allow_safe_labels and item.getExtra('safe_label', false) %}
            {{ item.label|raw }}
        {% else %}
            {{ item.label }}
        {% endif %}
    </span>
    {% if item.getExtra('badge', null) %}
        <span class="badge badge-secondary pull-right" style="margin: 0px; ">{{ item.getExtra('badge') }}</span>
    {% endif %}
{% endblock %}