{% extends 'TodasAsPatasWebBundle:Backend:template.html.twig' %}


{% block page_title %} {{ useradmin.username }} {% endblock %}

{% block page -%}

    <div class="row">
        <div class="col-xs-12">
            <table class="record_properties table table-bordered table-hover table-responsive table-striped">
                <tbody>
                    <tr>
                        <th>Username</th>
                        <td>{{ useradmin.username }}</td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td>{{ useradmin.email }}</td>
                    </tr>
                    <tr>
                        <th>Grupos</th>
                        <td>
                            <ul>
                                {% for group in useradmin.groups %}
                                    <li>{{ group.name }}</li>
                                    {% endfor %}
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <th>Último Login</th>
                        <td>{% if useradmin.lastLogin %}{{ useradmin.lastLogin|date('d/m/Y H:i:s') }}{% endif %}</td>
                    </tr>
                </tbody>
            </table>

            <ul class="record_actions list-inline list-unstyled">
                <li>
                    <a class="btn btn-link" href="{{ path('app_useradmin_index') }}">
                        Voltar para a lista
                    </a>
                </li>
                <li>
                    <a class="btn btn-primary" href="{{ path('app_useradmin_update', { 'id': useradmin.id }) }}">
                        Editar
                    </a>
                </li>
                <li>
                    <form method="post" action="{{ path('app_useradmin_delete', { 'id': useradmin.id }) }}">
                        <input type="hidden" name="_method" value="DELETE" />
                        <input type="submit" class="btn btn-danger" value="Deletar" />
                    </form>
                </li>
            </ul>
        </div>
    </div>

{% endblock %}
